<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="entidadesEstilos.css">
</head>
<body>

<div class="navbar">
    <h2>Clientes</h2>
    <a href="/home">Volver</a>
</div>

<div class="container">

    <button>Agregar Cliente</button>

    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Acciones</th>
            <td>
                <button>Editar</button>
                <button>Eliminar</button>
            </td>
        </tr>
    </table>

</div>

</body>
</html>