<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="/entidadesEstilos.css">
</head>
<body>

<div class="navbar">
    <h2>Editar Usuario</h2>
    <a href="/usuarios">Volver</a>
</div>

<div class="container">

    <div class="card-form">

        <form th:action="@{/usuarios/editar}" method="post" th:object="${usuario}">
            
            <input type="hidden" th:field="*{codigo_usuario}">

            <label>Nombre</label>
            <input type="text" th:field="*{username}" required>

            <label>Email</label>
            <input type="email" th:field="*{email}" required>

            <label>Password</label>
            <input type="text" th:field="*{password}" required>

            <label>Estado</label>
            <input type="number" th:field="*{estado}" required>

            <button type="submit">Actualizar</button>

        </form>

    </div>

</div>

</body>
</html>