<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="homeEstilo.css">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <h1>Sistema de Gestión</h1>

    <a href="acceder"><button>Cerrar sesión</button></a>

</div>

<!-- CONTENIDO -->
<div class="container">

    <div class="title">
        <h2>HOME</h2>
        <p></p>
    </div>

    <div class="menu-grid">
        <a href="/clientes" class="card">
            Clientes
            <span></span>
        </a>

        <a href="/productos" class="card">
            Productos
            <span></span>
        </a>

        <a href="/usuarios" class="card">
            Usuarios
            <span></span>
        </a>

        <a href="/ventas" class="card">
            Ventas
            <span></span>
        </a>

        <a href="/detalleVenta" class="card">
            Detalle Venta
            <span></span>
        </a>
    </div>

</div>

</body>
</html>