<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Cliente</title>
    <link rel="stylesheet" href="/entidadesEstilos.css">
</head>
<body>

<div class="navbar">
    <h2>Nuevo Cliente</h2>
    <a href="/clientes">Volver</a>
</div>

<div class="container">

    <div class="card-form">

        <form th:action="@{/clientes/guardar}" method="post" th:object="${cliente}">

            <label>Nombre</label>
            <input type="text" th:field="*{nombre_cliente}" required>

            <label>Apellido</label>
            <input type="text" th:field="*{apellido_cliente}" required>

            <label>Dirección</label>
            <input type="text" th:field="*{direccion}" required>

            <label>Estado</label>
            <input type="number" th:field="*{estado}" required>

            <button type="submit">Guardar</button>

        </form>

    </div>

</div>

</body>
</html>