<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" href="entidadesEstilos.css">
</head>
<body>

<div class="navbar">
    <h2>Usuarios</h2>
    <a href="/home">Volver</a>
</div>

<div class="container">

    <button>Agregar Usuario</button>

    <table>
        <thead>
        <tr>
            <th>Código de Usuario</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Estado</th>
            <td>
                <button>Editar</button>
                <button>Eliminar</button>
            </td>
        </tr>
        </thead>
        <tbody id="tablaUsuarios" th:action="@{/listar}" method="get">
            <tr th:each="u :  ${usuaios}">
                <td th:text="${ u.codigo_usuario }"></td>
                <td th:text="${ u.username }"></td>
                <td th:text="${ u.email }"></td>
                <td th:text="${ u.password }"></td>
                <td th:text="${ u.estado }"></td>
            </tr>
    </table>

</div>

</body>
</html>