<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" href="/entidadesEstilos.css">
</head>
<body>

<div class="navbar">
    <h2>Usuarios</h2>
    <a href="/home">Volver</a>
</div>

<div class="container">

    <a href="/usuarios/register" th:if="${usuario.rol == 'ADMIN'}">
        <button>Agregar Usuario</button>
    </a>

    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Estado</th>

            <th th:if="${usuario.rol == 'ADMIN'}">Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="u : ${usuarios}">
            <td th:text="${u.codigo_usuario}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.estado}"></td>

            <td th:if="${usuario.rol == 'ADMIN'}" class="acciones">

                <a th:href="@{/usuarios/editar/{id}(id=${u.codigo_usuario})}">
                    <button class="btn-edit">Editar</button>
                </a>

                <a th:href="@{/usuarios/eliminar/{id}(id=${u.codigo_usuario})}">
                    <button class="btn-delete">Eliminar</button>
                </a>

            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>