<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ventas</title>
    <link rel="stylesheet" href="/entidadesEstilos.css">
</head>
<body>

<div class="navbar">
    <h2>Ventas</h2>
    <a href="/home">Volver</a>
</div>

<div class="container">

    <button>Registrar Venta</button>

    <table>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Juan Pérez</td>
            <td>08/04/2026</td>
            <td>Q500</td>
        </tr>
    </table>

</div>

</body>
</html>